.light-mode .technologies {
  padding: 1em;
  background: #fef6f6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
  justify-items: center;
  border-radius: 3px;
  transition: .8s;
  opacity: 85%;
}

.light-mode .logo {
padding: 5px;
height: 100px;
}

.dark-mode .logo {
  padding: 5px;
}

.dark-mode .technologies {
  padding: 1em;
  border-radius: 3px;
  background: #746cc0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
  justify-items: center;
  transition: .8s;
  opacity: 85%;
}


.light-mode .intro-container {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem; 
    height: auto;
    align-items: center; 
    text-align: center; 
    background:
    repeating-linear-gradient(50deg,
      #f9d7d6,
      #f9d7d6 2em,
      #fbe6e5 2em,
      #fbe6e5 4em,
      #fdf1f1 4em,
      #fdf1f1 5em,
      #fef5f5 5em,
      #fef5f5 6em,
      #fef6f6 6em,
      #b4c8ea 6em,
      #b4c8ea 7em,
      #91a8d0 7em,
      #91a8d0 8em),
    repeating-linear-gradient(-50deg,
      #f9d7d6,
      #f9d7d6 2em,
      #fbe6e5 2em,
      #fbe6e5 4em,
      #fdf1f1 4em,
      #fdf1f1 5em,
      #fef5f5 5em,
      #fef5f5 6em,
      #fef6f6 6em,
      #b4c8ea 6em,
      #b4c8ea 7em,
      #91a8d0 7em,
      #91a8d0 8em),
    #f9d7d6;
  background-blend-mode: multiply;
  outline: 2px solid #f2757d;
  box-shadow: 0 0 8px #454077;
  transition: .8s;
  margin-left: 20%;
  margin-right: 20%;
  }

  .dark-mode .intro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem; 
    height: auto;
    align-items: center; 
    text-align: center; 
    background:
    repeating-linear-gradient(50deg,
      #f9d7d6,
      #f9d7d6 2em,
      #fbe6e5 2em,
      #fbe6e5 4em,
      #fdf1f1 4em,
      #fdf1f1 5em,
      #fef5f5 5em,
      #fef5f5 6em,
      #fef6f6 6em,
      #b4c8ea 6em,
      #b4c8ea 7em,
      #91a8d0 7em,
      #91a8d0 8em),
    repeating-linear-gradient(-50deg,
      #f9d7d6,
      #f9d7d6 2em,
      #fbe6e5 2em,
      #fbe6e5 4em,
      #fdf1f1 4em,
      #fdf1f1 5em,
      #fef5f5 5em,
      #fef5f5 6em,
      #fef6f6 6em,
      #b4c8ea 6em,
      #b4c8ea 7em,
      #91a8d0 7em,
      #91a8d0 8em),
      #454077;
  background-blend-mode: multiply;
  outline: 2px solid #746cc0;
  box-shadow: 0 0 8px #efedff;
  transition: .8s;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-left: 20%;
  margin-right: 20%;
  }

.dark-mode .grid-container {

}

.light-mode hr {
  height: 4px;
  border: none;
  background-color: #142130;
  opacity: 65%;
}

 .dark-mode hr {
  background-color: #746cc0;
  border: none;
  height: 4px;
  transition: .8s;
  opacity: 60%;
}

  .light-mode .intro-header {
    color: #142130;
    transition: color .8s;
    margin-left: 1%;
  }
  
  .dark-mode .intro-header {
    color: #f2757d;
    transition: color .8s;
    margin-left: 1%;
  }

